aiogram==3.4.1
telethon==1.33.1
google-api-python-client==2.153.0
google-api-core==2.19.2
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
protobuf==5.27.3
nest_asyncio==1.6.0
httplib2==0.22.0
aiohttp==3.9.5
requests==2.32.3
tqdm==4.66.5
phonenumbers==8.13.39
pycountry==24.6.1
pydantic==2.5.3
pydantic-core==2.16.3
